<div class="row header-row">
    <!-- <nav>
          <div class="nav-wrapper">
            <div class="logo  col s12 l3 m3">
                <a class="brand-logo"><img src="assets/images/logo.png" class="logo-img"/> </a>
            </div>
             <div class="logo col s12 l9 m9" style="">

             </div>
          </div>
     </nav>-->

    <div class="header-left col s12 m5 l5">
        <div class="col s2">
            <span><img src="./assets/images/logo.png" class="logo-img"/></span>
        </div>
        <div class="col s10 site-title">
            <h4>Simple Time Tracker</h4>
        </div>
    </div>


    <div class="header-right col s12 m7 l7">
        <div class="row">
            <div class="col s12">

            </div>
        </div>
    </div>


</div>