<div class="row header-row">
   <!-- <nav>
         <div class="nav-wrapper">
           <div class="logo  col s12 l3 m3">
               <a class="brand-logo"><img src="assets/images/logo.png" class="logo-img"/> </a>
           </div>
            <div class="logo col s12 l9 m9" style="">

            </div>
         </div>
    </nav>-->

    <div class="header-left col s12 m5 l5">
        <div class="col s2">
        <!--    <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons dp48">menu</i></a>-->
            <div class="menu_icon_div">
                 <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons menu_icon">menu</i></a>
            </div>
        </div>
        <div class="col s2">
            <img src="./assets/images/logo.png" class="logo-img"/>
        </div>
        <div class="col s8 site-title">
            <h4>Simple Time Tracker</h4>
        </div>
    </div>


    <div class="header-right col s12 m7 l7">
        <div class="row">
            <div class="col s12 textRight">
                <!-- Dropdown Trigger -->
                <a class='dropdown-button dropdown_header' href='' data-activates='dropdown_head'><span class="">Welcome {{authenticated.user.first_name}}!<!--<i class="material-icons prefix">arrow_drop_down</i>--></span><div class="" style="float:right;display:inline;"><div class="down_arrow_header"></div></div></a>

                <!-- Dropdown Structure -->
                <ul id='dropdown_head' class='dropdown-content'>
                    <li><a href="#/logout">Logout</a></li>
               <!--     <li class="divider"></li>
                    <li><a href="#!">three</a></li>-->
                </ul>


            </div>
        </div>
    </div>


</div>

<script>
    $('.dropdown-button').dropdown({
                inDuration: 300,
                outDuration: 225,
                constrain_width: false, // Does not change width of dropdown to that of the activator
                hover: true, // Activate on hover
                gutter: 0, // Spacing from edge
                belowOrigin: false, // Displays dropdown below the button
                alignment: 'left' // Displays dropdown with edge aligned to the left of button
            }
    );

</script>