<!--<nav>
    <ul class="hide-on-med-and-down">
        <li><a href="#!">First Sidebar Link</a></li>
        <li><a href="#!">Second Sidebar Link</a></li>
    </ul>
    <ul id="slide-out" class="side-nav fixed">
        <li class="bold"><a href="#!" class="waves-effect waves-teal">First Sidebar Link</a></li>
        <li class="bold"><a href="#!" class="">Second Sidebar Link</a></li>
        <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
                <li>
                    <a class="collapsible-header waves-effect waves-teal">Dropdown<i class="mdi-navigation-arrow-drop-down"></i></a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a href="#!">First</a></li>
                            <li><a href="#!">Second</a></li>
                            <li><a href="#!">Third</a></li>
                            <li><a href="#!">Fourth</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
&lt;!&ndash;    <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>&ndash;&gt;
</nav>-->

<div ng-controller="SideNavController">
<ul id="slide-out" class="side-nav customSideNav">
  <!--  <li><div class="userView">
     &lt;!&ndash;   <img class="background" src="">&ndash;&gt;
        <a href="#!user">bvbvccbc</a>
        <a href="#!name"><span class="white-text name">John Doe</span></a>
        <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
    </div></li>-->
    <li ng-class=" {active_li : isActive('/project')}"><a href="#/project">Projects</a></li>
    <!--<li ng-class=" {active_li : isActive('/client')}"><a href="#/client">Client</a></li>-->
    <li ng-class=" {active_li : isActive('/manage_project')}"><a href="#/manage_project">Manage Projects</a></li>
    <!--<li ng-class=" {active_li : isActive('/manual_entry')}"><a href="#/manual_entry">Manual Entry</a></li>-->
    <!--<li ng-class=" {active_li : isActive('/review_entry')}"><a href="#/review_entry">Review Entries</a></li>-->
<!--    <li><div class="divider"></div></li>
    <li><a class="subheader">Subheader</a></li>
    <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>-->
</ul>
</div>

<script>

//    $(".button-collapse").sideNav();
    $('.button-collapse').sideNav({
                menuWidth: 250, // Default is 240
                closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
            }
    );
    $('.collapsible').collapsible();
</script>