<html ng-app="timeTrackerApp">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Tacktile">

    <title>Simple Time Tracker | {{pageTitle}}</title>

    <!-- Materialize CSS -->
    <link rel="stylesheet" href="assets/materialize/css/materialize.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="assets/material_design_icons/materialdesignicons.css" media="all" rel="stylesheet" type="text/css" />
    <link href="assets/sweetAlert/sweet-alert.css" media="all" rel="stylesheet" type="text/css" />
    <link href="assets/materialize_clockpicker/materialize.clockpicker.css" media="all" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/select.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.default.css">

    <!-- JavaScript for: jQuery, angular, materialize, and angular-materialize. All of which are needed. -->
    <script type="text/javascript" src="assets/js/jquery-3.0.0.min.js"></script>
    <script type="text/javascript" src="assets/lib/angular-1.4.4/angular.min.js"></script>
    <script type="text/javascript" src="assets/lib/angular-1.4.4/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="assets/lib/angular-1.4.4/angular-cookies.min.js"></script>
    <script type="text/javascript" src="assets/lib/angular-1.4.4/angular-route.js"></script>
    <script type="text/javascript" src="assets/lib/angular-1.4.4/angular-messages.js"></script>

    <script type="text/javascript" src="assets/js/select.min.js"></script>
    <script type="text/javascript" src="assets/js/angularjs-social-login.js"></script>


    <!-- <script type="text/javascript" src="assets/timer/js/moment.js"></script>-->
    <!--<script type="text/javascript" src="assets/timer/js/angular-timer-all.min.js"></script>-->
    <!--<script type="text/javascript" src="assets/timer/js/angular-timer-bower.js"></script>&ndash;&gt;-->
    <!-- <script type="text/javascript" src="assets/timer/_timer.js"></script>  -->
    <!--<script type="text/javascript" src="services/utility.js"></script>-->
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

</head>
<body>

<!-- Your app -->
<script type="text/javascript" src="app/app.js"></script>
<!-- JavaScript for ocLazyload  -->
<script type="text/javascript" src="assets/ocLazyLoad/ocLazyLoad.min.js"></script>
<script type="text/javascript" src="assets/materialize/js/materialize.min.js"></script>

<div  id="wrapper" class="container-fluid"  ng-view>

</div>


<script type="text/javascript" src="directives/CompareDirective.js"></script>
<script type="text/javascript" src="directives/materialSelect.js"></script>

</body>
</html>