<div id="login_page">

    <!-- start of the header  -->
    <div class="row header-row" id="login_header">
        <div class="header-left col s12 m5 l5">
            <div class="col s2">
                <span><img src="./assets/images/logo.png" class="logo-img"/></span>
            </div>
            <div class="col s10 site-title">
                <h4>Simple Time Tracker</h4>
            </div>
        </div>

        <div class="header-right col s12 m7 l7">
            <div class="col s12">
                <form name="loginForm">
                    <div class="col s5 input-field input_field_login">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="username" type="text" class="validate text-field input_login" name="username" ng-model="loginInfo.username" required autocomplete="off">
                        <label for="username">Username</label>

                        <div  class="error-message-div" ng-messages-multiple ng-messages="loginForm.username.$error" ng-show="loginForm.username.$touched  || loginForm.$submitted">
                            <div class="" ng-message="required">
                                Username is required
                            </div>
                        </div>
                    </div>

                    <div class="col s5 input-field input_field_login">
                        <i class="material-icons prefix">lock_outline</i>
                        <input id="password" type="password" class="validate text-field input_login" name="password" ng-model="loginInfo.password" autocomplete="off" required>
                        <label for="password">Password</label>

                        <div class="error-message-div" ng-messages-multiple ng-messages="loginForm.password.$error"  ng-show="loginForm.password.$touched  || loginForm.$submitted">
                            <div class="" ng-message="required">
                                Password is required
                            </div>
                        </div>
                    </div>

                    <div class="col s2">
                        <button class="btn waves-effect waves-light login_btn" type="submit" name="action" ng-click="login(loginInfo,loginForm.$valid)">
                            <i class="material-icons right send_login">send</i>
                            Login
                        </button>
                    </div>
                </form>
            </div>

            <div class="col s12">

                <div class="col s6 offset-l6 no-padding">
                    <a href="#modal_forgot_password" class="modal-trigger forgot_link" >Forgot Password?</a>
                </div>
            </div>
            <!-- </div>-->

        </div>
    </div>
    <!-- end of the header  -->


    <!-- start of main contents -->
    <div class="row">
        <div class="col l6 m6 s12 msg">
            <div class="register_msg" ng-if="registerMessage">{{registerMessage}}</div>
        </div>

        <div class="col l5 m6 s12">

            <div id="register_div">
                <h5>Log in  Using  </h5>
                <div class="social-login">
                    <div class="col l6 m6 s12">
                        <div class="fblogin">
                            <button fb-login type="button" class="btn btn-info" id="fbbtn">
                                <i class="facebook-icon"></i>
                                Facebook
                            </button>
                        </div>
                    </div>
                    <div class="col l6 m6 s12">
                        <div class="googlelogin">
                            <button g-login type="button" class="btn btn-warning"  id="googlebtn">
                                <i class="google-icon"></i>
                                Google+
                            </button>
                            <!--<button g-login type="button">Google Login</button>-->
                        </div>
                    </div>
                </div>
                <div class="or">
                    <div class="backline"></div>
                    <span>or</span>
                </div>



                <h5 class="register_head">Create a New Account</h5>
                <form name="registerForm">
                    <div class="input-field col s12 m6 l6 input_field_timetracker">
                        <i class="material-icons prefix">face</i>
                        <input id="icon_prefix" type="text" class="validate text-field input_time_tacker" name="firstName" ng-model="userInfo.firstName" required>
                        <label for="icon_prefix">First Name</label>

                        <div  class="error-message-div" ng-messages-multiple ng-messages="registerForm.firstName.$error"  ng-show="registerForm.firstName.$touched  || registerForm.$submitted">
                            <div class="" ng-message="required">
                                First Name is Required
                            </div>
                        </div>
                    </div>


                    <div class="input-field col s12 m6 l6 input_field_timetracker">
                        <!--<i class="material-icons prefix">face</i>-->
                        <input id="last_name" type="text" class="validate text-field input_time_tacker" name="lastName" ng-model="userInfo.lastName" required>
                        <label for="last_name">Last Name</label>

                        <div class="error-message-div margin0" ng-messages-multiple ng-messages="registerForm.lastName.$error"  ng-show="registerForm.lastName.$touched  || registerForm.$submitted">
                            <div class="" ng-message="required">
                                Last Name is Required
                            </div>
                        </div>
                    </div>


                    <div class="input-field col s12 m12 l12 input_field_timetracker">
                        <i class="material-icons prefix"> perm_identity</i>
                        <input id="user_name" type="text" class="validate text-field input_time_tacker" name="userName" ng-model="userInfo.userName" required>
                        <label for="user_name">User Name</label>
                        <div class="error-message-div " ng-messages-multiple ng-messages="registerForm.userName.$error"  ng-show="registerForm.userName.$touched  || registerForm.$submitted">
                            <div class="" ng-message="required">
                                User Name is Required
                            </div>
                        </div>
                    </div>



                    <div class="input-field col s12 m12 l12 input_field_timetracker">
                        <i class="material-icons prefix">email</i>
                        <input id="email" type="email" class="validate text-field input_time_tacker" name="email" ng-model="userInfo.email" required>
                        <label for="email">Email Address</label>

                        <div  class="error-message-div" ng-messages-multiple ng-messages="registerForm.email.$error"  ng-show="registerForm.email.$touched  || registerForm.$submitted || errors.email ">
                            <div class="" ng-message="required">
                                Email Address is Required
                            </div>
                            <div class="" ng-message="email">
                                Invalid Email Address
                            </div>
                        </div>

                        <div class="error-message-div" ng-if="errorDiv">
                            {{ errors }}
                        </div>


                    </div>



                    <div class="input-field col s12 m12 l12 input_field_timetracker">
                        <i class="material-icons prefix">lock_outline</i>
                        <input id="pass" type="password" class="validate text-field input_time_tacker" name="password" ng-model="userInfo.password"  ng-minlength="8" required>
                        <label for="pass">Password</label>

                        <div  class="error-message-div" ng-messages-multiple ng-messages="registerForm.password.$error"  ng-show="registerForm.password.$touched  || registerForm.$submitted">
                            <div class="" ng-message="required">
                                Password is required
                            </div>
                            <div class="" ng-message="minlength">
                                Password must be of atleast 8 characters
                            </div>

                        </div>
                    </div>

                    <div class="input-field col s12 m12 l12 input_field_timetracker">
                        <i class="material-icons prefix">lock_outline</i>
                        <input id="confirm-password" type="password" class="active validate text-field input_time_tacker" name="confirmPassword" compare-password ng-model="userInfo.confirmPassword" required>
                        <label for="confirm-password">Confirm Password</label>

                        <div  class="error-message-div" ng-messages-multiple ng-messages="registerForm.confirmPassword.$error"  ng-show="registerForm.confirmPassword.$touched  || registerForm.$submitted">
                            <div class="" ng-message="required">
                                Confirm your password
                            </div>
                            <div class="" ng-message="passMatch">
                                Password didn't match
                            </div>

                        </div>
                    </div>


                    <div class="input-field col s12 m12 l12 input_field_timetracker">
                        <i class="material-icons prefix">domain</i>
                        <input id="contactNo" type="tel" name="contactNo" class="active validate text-field input_time_tacker" ng-model="userInfo.contactNo">
                        <label for="contactNo">Contact No.</label>
                    </div>

                    <div class="input-field col s12 m12 l12 input_field_timetracker">
                        <i class="material-icons prefix">domain</i>
                        <input id="organization" type="text" name="organization" class="active validate text-field input_time_tacker" ng-model="userInfo.organization">
                        <label for="organization">Organization</label>
                    </div>

                    <div class="input-field col s12 m12 l12 input_field_timetracker">
                        <i class="material-icons prefix"> location_on</i>
                        <textarea id="address" type="text"  class="validate materialize-textarea input_time_tacker" name="address" ng-model="userInfo.address" required></textarea>
                        <label for="user_name">Address</label>

                    </div>

                    <div class="input-field  col s12 m12 l12">
                        <button type="submit" class="btn waves-effect waves-light right btn-modified" ng-click="register(userInfo,registerForm.$valid)" name="action" >Register
                            <!--  <i class="material-icons right">send</i>-->
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <!--  end of main contents  -->



    <!--  modal for forgot password  -->
    <!-- Modal Structure -->
    <div id="modal_forgot_password" class="modal">
        <div class="modal-content">
            <p>Enter the email address where you want to receive the password reset link</p>

            <p ng-if="failedSendMessage" style="color:red">{{ failedSendMessage }}</p>

            <form name="forgetPasswordForm">
                <div class="col s12 m12 l12">
                    <div class="input-field col s10 m10 l10">
                        <i class="material-icons prefix">email</i>
                        <input id="email_address" type="email" class="validate" name="email" ng-model="forgotPass.email" required>
                        <label for="email_address">Email Address</label>

                        <div class="error-message-div" ng-messages-multiple ng-messages="forgetPasswordForm.email.$error"  ng-show="forgetPasswordForm.email.$touched  || forgetPasswordForm.$submitted">
                            <div class="" ng-message="required">
                                Email Address is Required
                            </div>
                            <div class="" ng-message="email">
                                Invalid Email Address
                            </div>

                        </div>

                    </div>

                </div>
            </form>
        </div>

        <div class="modal-footer">
            <a href="#!" class=" modal-action modal-close waves-effect btn-flat">Cancel</a>
            <button class="btn waves-effect waves-light" type="submit" name="action" ng-click="verifyEmailAddress(forgotPass,forgetPasswordForm.$valid)">Send
                <!--     <i class="material-icons right">send</i>-->
            </button>
        </div>
    </div>
    <!-- end of forgot password modal -->




    <script type="text/javascript">
        $(document).ready(function(){
            $('.modal-trigger').leanModal();
        });
    </script>



    <!--
        <script>
            //js code
            $(document).ready(function(){
                $(".button-collapse").sideNav();
                $('.collapsible').collapsible();
            });
        </script>-->

    <!--   <ul id="slide-out" class="side-nav">
           <li><div class="userView">
               <img class="background" src="images/office.jpg">
               <a href="#!user"><img class="circle" src="images/yuna.jpg"></a>
               <a href="#!name"><span class="white-text name">John Doe</span></a>
               <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
           </div></li>
           <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
           <li><a href="#!">Second Link</a></li>
           <li><div class="divider"></div></li>
           <li><a class="subheader">Subheader</a></li>
           <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
       </ul>
       <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
   -->
    <!--
        <script type="text/javascript">
            $('.button-collapse').sideNav({
                        menuWidth: 300, // Default is 240
                        closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
                    }
            );


            // Show sideNav
            $('.button-collapse').sideNav('show');
            // Hide sideNav
            $('.button-collapse').sideNav('hide');


        </script>-->

    <!--

        <style type="text/css">
           header, main, footer {
                padding-left: 300px;
            }

            @media only screen and (max-width : 992px) {
                header, main, footer {
                    padding-left: 0;
                }
            }

        </style>

    -->


</div>
