<div id="main_div">

    <div ng-include="'views/includes/header.html'"></div>
    <!--<style ng-bind-html="mystyles"></style>-->

    <div class="row col s12 l12 paddingBottom marginBottom0 middle_div">

        <div ng-include="'views/includes/sideNav.html'"></div>

        <div class="col l3 s12">
            <div class="pro_head_div"><h2 class="project_list_head"> <i class="material-icons">view_list</i> Project List</h2></div>
            <ul class="project-list">
                <li ng-repeat="project in projects | limitTo: projectDisplayLimit" class="">

                    <div class="main_header_div collapse_project">
                        <div class="collapse_header  col s12 pad0" ng-click="editProject(project,$index)">

                            <div class="col s2 pad0 txtc">
                                <div class="icon_list" ng-style="{'background': '{{project.project_color}}'}">
                                    <img  ng-src="assets/images/icons/{{project.project_icon}}"/>
                                </div>
                            </div>

                            <div class="project_name col s7">
                                <span> {{project.project_name}}</span>
                            </div>

                            <div class="col s3 pad0 ">
                                <!--<div class="col s12">-->
                                <!--<div class="col s11">-->
                                <span class="task_count" ng-style="{'color':project.project_color}">{{project.tasks.length}} tasks</span>
                                        <span class="down_arrow_manage" ng-style="{'border-left': '5px solid'+ project.project_color}">
                                        </span>
                                <!--</div>-->

                                <!--</div>-->
                            </div>
                        </div>
                    </div>

                </li>

            </ul>
        </div>


        <div class="col l7 s12 pad0 " ng-if="data.project">
            <!--  <h2 class="project_list_head">{{data.project.project_name}}</h2>-->
            <div class="manage_div">

                <h2 class="project_list_head"> <i class="material-icons">assignment</i> Manage Project</h2>

                <div class="manage_proj" ng-if="data.project">

                    <div class="col l12 pad0 ">
                        <div class="col s7 pad0"><h2 class="pro_name"> {{data.project.project_name}}</h2></div>

                        <!--<button type="submit" class="btn waves-effect waves-light btn-green margin_top17 transform_none" ng-click="rename_project()" name="action" >Rename Project-->
                        <!--&lt;!&ndash;  <i class="material-icons right">send</i>&ndash;&gt;-->
                        <!--</button>-->

                        <!--<button type="submit" class="btn waves-effect waves-light btn-red margin_top17 transform_none" ng-click="delete_project()"  name="action" >Delete Project-->
                        <!--&lt;!&ndash;  <i class="material-icons right">send</i>&ndash;&gt;-->
                        <!--</button>-->

                    </div>


                    <div ng-if="data.project.tasks" class="collection col s12 custom_collection">

                        <div ng-repeat="task in data.project.tasks" class="row collection-item">
                            <div class="col s8 pad0">
                                <input type="checkbox" class="filled-in"  id="task{{$index}}" />
                                <label for="task{{$index}}">{{task.text}}</label>

                            </div>
                            <!--<div class="col s4"> <button type="submit" class="btn waves-effect waves-light btn-green transform_none"  ng-click="rename(task)">Rename&lt;!&ndash;<i class="material-icons">mode_edit</i>&ndash;&gt;</button><button type="submit" ng-click="delete(task)" class="transform_none btn-red btn waves-effect">Delete&lt;!&ndash;<i class="material-icons">clear</i>&ndash;&gt;</button></div>-->
                        </div>
                    </div>


                    <form name="taskAddForm" class="col s12">
                        <div  class="input-field  add_task_div" style="">
                            <input id="project_task" type="text" class="active validate col s10 input_time_tacker" ng-class="applyClass(data.project.project_color)" placeholder="Add Task" ng-style="{ 'border-bottom':'1px solid'+ project.project_color }" ng-class="customTaskStyle" name="projectTask" ng-model="pro.project_task">
                            <!-- <label for="project_task">Add Project Task</label>-->
                                <span class="suffix icon_task_span">
                                    <button class="btn btn-floating waves-effect waves-light" ng-class="" ng-style="{ 'background-color': data.project.project_color}" ng-click="addSingleTask(pro.project_task,data.project.id)" ><i class="material-icons">add</i></button>
                                </span>
                        </div>
                    </form>

                </div>
            </div>
        </div>


        <div class="col l2 s12 padr0 " >
            <div class="member_div">
                <h5> <i class="material-icons">group_work</i> <span>Team</span></h5>

                <div class="add-member" >
                    <h6>Members :</h6>
                    <ul class="member-list">

                    </ul>

                    <div class="add-member-btn">
                        <a class="  btn"  ng-click="click_me()"><i class="material-icons">supervisor_account</i> Add Member</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Dropdown Trigger -->
<!-- <a class='dropdown-button btn' href='#' data-activates='dropdown1'>Drop Me!</a>-->



<!--  modal to rename project -->
<!-- Modal Structure -->
<div id="rename_modal" class="modal">
    <div class="modal-content">
        <h6>Rename Project</h6>
        <div class="input-field">
            <input id="email_address" type="text" class="validate" name="rename" ng-class="data.project ? applyClass(data.project.project_color) : ''"  ng-model="rename_proj.project_name" required>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn-flat modal-close" ng-click="update_name()">Save</button>

        <button type="button" class="btn-flat modal-close" >Cancel</button>
    </div>
</div>



<!-- Modal Structure -->
<div id="rename_task" class="modal">
    <div class="modal-content">
        <h6>Rename Task</h6>
        <div class="input-field">
            <input id="renm" type="text" class="validate" name="rename_task" ng-class="data.project ? applyClass(data.project.project_color) : ''"  ng-model="rename_task.task_name" required>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn-flat modal-close" ng-click="update_task(rename_task)">Save</button>

        <button type="button" class="btn-flat modal-close" >Cancel</button>
    </div>
</div>

<!-- add-member-modal Structure -->
<div id="add-member-modal" class="modal">
    <div class="modal-content">
        <h5>Type or select member to add</h5>
        <form name="add-member-form">
            <div class="error">{{showEmailError}}</div>
            <ui-select multiple tagging="createMember" tagging-label="Press Enter to add email" ng-model="multiple.selectedMember" theme="" ng-disabled="disabled" sortable="true"   close-on-select="false" >
                <ui-select-match placeholder="Type of select member...">{{$item.first_name}}  &lt;{{$item.email}} &gt;</ui-select-match>
                <ui-select-choices repeat="person in member | propsFilter: {first_name: $select.search, email: $select.search}">
                    <div ng-bind-html="person.first_name | highlight: $select.search "></div>
                    <small>
                        email: {{person.email}}
                    </small>
                    <!--<span class="tagmessage"> {{tagMessage}}</span>-->
                </ui-select-choices>
            </ui-select>


        </form>
    </div>
    <div class="modal-footer">
        <a  class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="closeModal()">Close</a>
        <a  class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="inviteMember(multiple.selectedMember)">Invite</a>
    </div>
</div>