<div id="main_div">

    <div ng-include="'views/includes/header.html'"></div>


    <div class="row col s12 l12 marginBottom0">

        <div ng-include="'views/includes/sideNav.html'"></div>
        <div class="manual_entry_main_div">
        <div class="col s12 m6 l5 manual_entry_div ">

            <h2 class="project_list_head">Manual Entry</h2>

            <form class="col s12" name="manualEntryForm">

            <div class="input-field col s12" >
            <!--    <i class="material-icons prefix">mode_edit</i>-->
                <select class="browser-default custom_select offset-s2" ng-model="manual_entry.project" ng-init="manual_entry.project.options[0]" ng-change="getTasks(manual_entry.project)">
                    <option value="" disabled selected>Select Project</option>
                    <option ng-repeat="project in projects" value="{{ project.id}}"> {{ project.project_name }} </option>
                </select>
            </div>


            <div class="input-field col s12" >

                <select class="browser-default custom_select" ng-model="manual_entry.task" ng-init="task.options[0]">
                    <option value="" disabled selected>Select Task</option>
                    <option ng-repeat="task in tasks" value="{{ task.id}}"> {{ task.task_name }} </option>
                </select>
            </div>

                <div class="input-field col s12" >
                 <!--   <i class="material-icons prefix">date_range</i> -->
                    <!--<i class="material-icons prefix">event</i>-->
                    <input type="text" id="task_date" class="datepicker" ng-model="manual_entry.date"/>
                    <label for="task_date">Date</label>
                </div>


                <div class="row">
                    <div class="input-field col s6">
                       <!-- <i class="material-icons prefix">access_time</i>-->
                        <input id="timepicker" class="timepicker" type="time" ng-model="manual_entry.startTime">
                        <label for="timepicker">Start Time</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="timepicker1" class="timepicker" type="time" ng-model="manual_entry.endTime" ng-change="checkTime()">
                        <label for="timepicker1">End Time</label>
                    </div>
                </div>


            <div class="input-field col s12 input_field_timetracker">
          <!--       <i class="material-icons prefix">assignment</i>-->
                 <input  id="name" type="text" class="active validate input_time_tacker" name="projectName" ng-model="manual_entry.memo" required>
                 <label for="name">Memo</label>

                    <!-- div for error msg -->
                <!--    <div  class="error-message-div" ng-messages-multiple ng-messages="projectAddForm.projectName.$error" ng-show="projectAddForm.projectName.$touched  || projectAddForm.$submitted">
                        <div class="" ng-message="required">
                            Project Name is required
                        </div>
                    </div>-->
                    <!-- end of error msg div -->
            </div>



                <div class="input-field  col s12 m12 l12">
                    <button type="submit" class="btn waves-effect waves-light btn-modified" ng-click="save_entry(manual_entry,manualEntryForm.$valid)" ng-disabled="manualEntryForm.$invalid || isUnchanged(manual_entry)" name="action" >Save
                        <!--  <i class="material-icons right">send</i>-->
                    </button>
                </div>



            </form>

          </div>
        </div>



    </div>



</div>

<script type="text/javascript">
    $(document).ready(function() {
      $('select').material_select();
      /*  $('.mt_select').material_select();*/

/*
        $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15 // Creates a dropdown of 15 years to control year

        });*/


        $('.timepicker').pickatime({
            default: 'now',
            autoclose: true,
            twelvehour: false,
            donetext: ''

        });

        $('.datepicker').pickadate({
            closeOnSelect: true,
            selectMonths: true,//Creates a dropdown to control month
            selectYears: 15,//Creates a dropdown of 15 years to control year
//The title label to use for the month nav buttons
            labelMonthNext: 'Next Month',
            labelMonthPrev: 'Last Month',
//The title label to use for the dropdown selectors
            labelMonthSelect: 'Select Month',
            labelYearSelect: 'Select Year',
//Months and weekdays
            monthsFull: [ 'January', 'February', 'March', 'April', 'March', 'June', 'July', 'August', 'September', 'October', 'November', 'December' ],
            monthsShort: [ 'Jan', 'Feb', 'Mar', 'Apr', 'Mar', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec' ],
            weekdaysFull: [ 'Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday' ],
            weekdaysShort: [ 'Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat' ],
//Materialize modified
            weekdaysLetter: [ 'S', 'M', 'T', 'W', 'T', 'F', 'S' ],
//Today and clear
            today: 'Today',
            clear: 'Clear',
            close: 'Close',
//The format to show on the `input` element
            format: 'dd/mm/yyyy'
        });

    });
</script>