<!-- add, delete and view projects -->
<div id="main_div"><!--  include header  -->
    <div ng-include="'views/includes/header.html'"></div>

    <!--<style ng-bind-html="mystyles"></style>-->

    <div class="row col s12 l12 middle_div">

        <div ng-include="'views/includes/sideNav.html'"></div>
        <div class="pro_list_div">
            <div class="col l5 s12 project_list_div">
                <div class="pro_head_div"><h2 class="project_list_head">Project List</h2></div>
                <ul class="collapsible marginTop0" data-collapsible="accordion">
                    <li ng-repeat="project in projects | limitTo: projectDisplayLimit">

                        <div class="collapsible-header collapse_project coll_proj_head" ng-click="editThis(project)">
                            <div class="col s12">
                                <div class="col s1">
                                    <div class="project_icon_list" ng-style="{'background': '{{project.project_color}}'}">
                                        <img  ng-src="assets/images/icons/{{project.project_icon}}"/>
                                    </div>
                                </div>
                                <div class="project_name col s7">
                                    {{project.project_name}}
                                </div>

                                <div ng-if="project.task_info" ng-style="{'color': project.project_color}" class="project_name span_time_div col s3">
                                    <span class="col s12 span_time"> {{project.task_info.text}} </span>
                                    <span class="col s12 span_time"> {{project.task_info.task_time_log | formatTimer}}</span>
                                </div>

                                <div class="down_arrow" ng-style="{'border-top': '5px solid'+ project.project_color}">

                                </div>
                            </div>
                        </div>

                        <div class="collapsible-body collapse_custom">
                            <ul>
                                <li ng-repeat="task in project.tasks" ng-init="task.task_time_log = 0;task.stopped = true;task.timer_icon='play_arrow' ">

                                    <div ng-click="edit(task.task_id)" class="task_div">
                                        <div class="task_icon_div">
                                            <img src="assets/images/mdpi/t_0035_menu.png"/>
                                        </div>
                                        <div class="task_name_div">
                                            {{task.text}}
                                        </div>
                                        <div class="timer_div">
                                            <span ng-if="task.task_time_log > 0" ng-style="{'color':project.project_color}">{{task.task_time_log | formatTimer}}</span>
                                            <!-- <a ng-click="takeAction()" href=""><i class="material-icons prefix time_icon">{{timer_icon}}</i></a>-->
                                            <a ng-click="startTimer(task,project)" href=""><i class="material-icons prefix time_icon" ng-style="task.timer_icon == 'stop' && {'color':project.project_color,'border-color': project.project_color}">{{task.timer_icon}}</i></a>

                                        </div>
                                    </div>

                                </li>

                                <div class="input-field  add_task_div" style="" >
                                    <input id="" type="text" class="active validate col s10 input_time_tacker" ng-class="applyClass(project.project_color)" placeholder="Add Task" ng-model="project_task" ng-style="{ 'border-bottom':'1px solid'+ project.project_color }" ng-class="customTaskStyle" name="projectTask" ng-model="project.newTask">
                                    <!-- <label for="project_task">Add Project Task</label>-->
                                <span class="suffix icon_task_span">
                                    <button class="btn btn-floating waves-effect waves-light" ng-class="" ng-style="{ 'background-color': project.project_color }" ng-click="addSingleTask(project_task,project.id)" ><!--<img src="assets/images/mdpi/add.png">--><i class="material-icons">add</i></button>
                                </span>
                                </div>

                            </ul>


                        </div>
                    </li>

                </ul>

                <div class="col s12 load_more_div">
                    <a href="" ng-if="projects.length > projectDisplayLimit" class="btn load_more" ng-click="more_projects()">Load {{projects.length - projectDisplayLimit}} More Projects</a>
                </div>

            </div>


        </div>

        <div class="pro_div">
            <div class="col s12 l7 proj_add_div">
                <div>
                    <h2 class="form_head">Project</h2>
                </div>

                <!--    <a class="waves-effect waves-light btn" ng-click="addNew()">Add New</a>-->

                <form class="col s12" name="projectAddForm">
                    <div class="input-field col s12 input_field_timetracker">
                        <!--      <i class="material-icons prefix mdi mdi-bell"></i>-->
                        <i class="material-icons prefix">mode_edit</i>
                        <input  id="name" type="text" class="active validate input_time_tacker" name="projectName" ng-model="project.projectName" required>
                        <label for="name">Project Name</label>

                        <!-- div for error msg -->
                        <div  class="error-message-div" ng-messages-multiple ng-messages="projectAddForm.projectName.$error" ng-show="projectAddForm.projectName.$touched  || projectAddForm.$submitted">
                            <div class="" ng-message="required">
                                Project Name is required
                            </div>
                        </div>
                        <!-- end of error msg div -->
                    </div>


                    <!--<div class="input-field col s12 input_field_timetracker" >-->
                        <!--<i class="material-icons prefix  select_icon">account_circle</i>-->
                        <!--     <i class="mdi mdi-bell"></i>-->
                        <!--<i class="material-icons prefix">face</i>-->
                        <!--       <select class="active validate" ng-init="project.clientName.select.options[0]" name="clientName" ng-model="project.clientName">
                                   &lt;!&ndash;<option ng-repeat="value in select.choices">{{value}}</option>&ndash;&gt;
                                   <option value="" selected  disabled>Select Client</option>
                                   <option>abc</option>
                                   <option>xyz</option>
                                   <option>pqr</option>
                               </select>  -->
                        <!--<select  ng-model="project.clientId">
                                                  <option value="">Select Client</option>
                                                  <option ng-repeat="client in clients" value="{{client.id}}">{{client.name}}</option>
                         </select>  -->


                        <!--<select class="browser-default custom_select_client" ng-model="project.clientId">-->
                        <!--<option value="">Select Client</option>-->
                        <!--<option ng-repeat="client in clients" value="{{client.id}}">{{client.name}}</option>-->
                        <!--</select>-->

                        <!--  <label>Materialize Select</label>-->
                    <!--</div>-->


                    <div class="input-field col s12 input_field_timetracker">
                        <i class="material-icons prefix">monetization_on</i>
                        <!--  <i class="material-icons prefix">attach_money</i>-->
                        <input id="project_price" type="text" class="active validate input_time_tacker" name="projectPrice" ng-model="project.projectPrice" required>
                        <label for="project_price">Project Price/hour</label>

                        <div  class="error-message-div" ng-messages-multiple ng-messages="projectAddForm.projectPrice.$error" ng-show="projectAddForm.projectPrice.$touched  || projectAddForm.$submitted">
                            <div class="" ng-message="required">
                                Project Price is required
                            </div>
                        </div>
                    </div>


                    <div class="input-field col s12 add_project_icon_color">
                        <!-- Modal Trigger -->

                        <label>Select Project Icon and Color</label>
                        <br/><br/>
                        <a class="modal-trigger" href="#demoModal">
                            <div class="col select-color" ng-style="mergeStyleObj([myColor,myIcon])"></div>
                        </a>

                    </div>

                    <div class="input-field col s12 add_task">
                        <label class="">Add Project Task</label>
                    </div>

                    <div class="input-field input_field_timetracker input-group col s12" style="display: table;">
                        <!--<i class="material-icons prefix"> monetization_on</i>-->
                        <!--  <i class="material-icons prefix">attach_money</i>-->

                        <input id="project_task" type="text" class="active validate col s11 input_time_tacker" ng-class="customTaskStyle" name="projectTask" ng-model="project.newTask">
                        <!-- <label for="project_task">Add Project Task</label>-->
                    <span class="suffix icon_task_span">
                        <button class="btn btn-floating waves-effect waves-light" ng-class="customTaskButtonStyle" ng-style="taskBackgroundColor" ng-click="addTask()" ><!--<img src="assets/images/mdpi/add.png">--><i class="material-icons">add</i></button>
                    </span>
                    </div>


                    <div class="input-field col s12">
                        <ul ng-if="tasks.length > 0" class="collection with-header">
                            <li class="collection-header"><h5>Project Task</h5></li>
                            <li class="collection-item" ng-repeat="task in tasks">{{task}}</li></ul>
                    </div>


                    <div class="input-field  col s12 m12 l12">
                        <button type="submit" class="btn waves-effect waves-light btn-modified" ng-click="add_project(project,projectAddForm.$valid)" ng-disabled="projectAddForm.$invalid || isUnchanged(project)" name="action" >Save
                            <!--  <i class="material-icons right">send</i>-->
                        </button>
                    </div>



                    <!-- Modal Structure -->
                    <div id="demoModal" class="modal">
                        <div class="modal-content">
                            <h6>Select Color</h6>
                            <div>
                                <a ng-click="style(color.color_code,color.color_class,color.task_code)" ng-repeat="color in colors"><div class="col s1"   ng-style="{'height':'25px','background-color': color.color_code }" >

                                </div>
                                </a>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn-flat modal-close" >Cancel</button>
                        </div>
                    </div>


                    <!-- Modal Structure -->
                    <div id="iconModal" class="modal">
                        <div class="modal-content">
                            <h6>Select Icon</h6>
                            <div class="col s12 icon-div" ng-style="projectColor">
                                <a ng-repeat="icon in icons" ng-click="setIcon(icon)">
                                    <div class="col s1 single-icon-div">
                                        <img ng-src="assets/images/icons/{{icon}}">
                                    </div>
                                </a>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn-flat modal-close" >Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>


    <!-- <button class="btn" ng-click="startTimer()">Start Timers</button>-->

    <!--  {{counter | formatTimer}}  {{timer_icon}}
        <a ng-click="takeAction()" href=""><i class="material-icons prefix time_icon">{{timer_icon}}</i></a>  -->

    <div id="taskTimerModal" class="modal">
        <div class="modal-content">
            <h6>Edit memo before saving</h6>
            <div class="col s12 icon-div" ng-style="">
                <div class="input-field">
                    <input id="task_memo" type="text" class="validate" name="rename" ng-model="task_timer.memo" required>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn-flat"  ng-click="add_time_log(task_timer.memo)">Save</button>
            <button type="button" class="btn-flat modal-close" ng-click="close_timer_modal()">Cancel</button>
        </div>
    </div>


</div>

<script type="text/javascript">
    $(document).ready(function(){
        $('.modal-trigger').leanModal();

        $('select').material_select();


        /*       $('.collapsible').collapsible({
         accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
         });
         */
        $('.collapsible').collapsible();


    });

</script>
