<div id="main_div">

    <div ng-include="'views/includes/header.html'"></div>


    <div class="row col s12 l12 marginBottom0 paddingLeft10">

        <div ng-include="'views/includes/sideNav.html'"></div>

        <div class="col s12 m6 l5 review_entry_div">

            <h2 class="project_list_head">Review Entries</h2>

            <div class="input-field col s12 input_field_timetracker" >

                <select class="browser-default custom_select" ng-model="review_entry.projectId" ng-change="get_task_log(review_entry.projectId)">
                    <option value="">Select Project</option>
                    <option ng-repeat="project in projects" value="{{project.id}}">{{project.project_name}}</option>
                </select>


                <!--  <label>Materialize Select</label>-->
            </div>


            <div class="row col s12 table_div">
                <table class="bordered custom_table">
                    <thead>
                    <tr class="centered">
                        <th data-field="id">Task</th>
                        <th data-field="name" class="td_green">Start Time</th>
                        <th data-field="price" class="td_red">End Time</th>
                    </tr>
                    </thead>

                    <tbody ng-if="task_logs.length > 0">
                    <tr ng-repeat="task in task_logs">
                        <td><div class="col 4">{{task.task_date | formatDate}}</div><div class="col s8"><span class="t_name">{{task.task_name}}</span> <p class="date_p">{{task.time_difference | convertMinutes}}</p></div></td>
                        <td class="td_green">{{task.start_time | getAmPm}}</td>
                        <td class="td_red">{{task.end_time | getAmPm}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>



        </div>



    </div>


</div>

<script type="text/javascript">
    $(document).ready(function(){
        $('select').material_select();

    });

</script>


