 <!-- add, delete and view clients -->
<div id="main_div">
    <!--  include header  -->
    <div ng-include="'views/includes/header.html'"></div>

    <!--<style ng-bind-html="mystyles"></style>-->

    <div class="row col s12 l12 marginBottom0 paddingBottom">

        <div ng-include="'views/includes/sideNav.html'"></div>

       <div class="col l5 s12">
           <div class="pro_head_div"><h2 class="project_list_head">Client List</h2></div>
           <!-- <h2 class="project_list_head">Client List</h2>-->
                    <div class="collection client_list_div">
                     <!--   <a href="">-->
                            <div class="collection-item custom_client_item" ng-repeat="client in clients | limitTo: clientDisplayLimit" ng-click="editClient(client)">
                                <div class="row client_list">
                                    <div class="col s12 main_col">
                                        <div class="col s1 inner_col">
                                           <div class="initial_char_div" color-this="background-color" data-color="client.name" data-color-salt="salt">{{client.name | firstChar }}</div>
                                        </div>
                                        <div class="col s9">
                                            <div class="col s12">
                                                <div class="col s7">
                                                    {{client.name}}
                                                </div>
                                                <div class="col s5">
                                                     <div ng-switch on="client.project_count">
                                                    <span ng-switch-when="0">No Projects</span>
                                                    <span ng-switch-when="1">{{client.project_count}} Project</span>
                                                    <span ng-switch-default>{{client.project_count}} Projects</span>
                                                </div><!--<span >Projects</span>-->
                                                </div>
                                            </div>
                                            <div class="col s12">
                                                <div class="col s7">
                                                    {{client.contact_person_name}}
                                                </div>
                                                <div class="col s5">
                                                    hrs
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        <!--</a>-->
                        <div class="collection-item" ng-if="!clients.length">
                            No clients to show..
                        </div>


                    </div>
        </div>

        <div class="client_add_div">
        <div class="col s12 l7 client_div">
            <h2 class="form_head">Client <span ng-if="client.name">: {{client.name}}</span></h2>
      <!--      <a class="waves-effect waves-light btn">Add New</a>-->

            <form class="col s12" name="clientAddForm">
                <div class="input-field col s12 input_field_timetracker">
                   <i class="material-icons prefix">domain</i>
                    <input  id="name" type="text" class="active validate input_time_tacker" placeholder="Organization Name" name="organizationName" ng-model="client.name" required>
                    <!--<label for="name">Organization Name</label>-->

                    <!-- div for error msg -->
                    <div  class="error-message-div" ng-messages-multiple ng-messages="clientAddForm.organizationName.$error" ng-show="clientAddForm.organizationName.$touched  || clientAddForm.$submitted">
                        <div class="" ng-message="required">
                            Organization Name is required
                        </div>
                    </div>
                    <!-- end of error msg div -->
                </div>

                <div class="input-field col s12 input_field_timetracker">
                <i class="material-icons prefix"><!--account_circle-->person</i>
                    <input id="project_price" type="text" class="active validate input_time_tacker" placeholder="Contact Person" name="contactPerson" ng-model="client.contact_person_name">
                   <!-- <label for="project_price">Contact Person</label>-->
                </div>


                <div class="input-field col s12 m12 l12 input_field_timetracker">
                   <i class="material-icons prefix">email</i>
                    <input id="email" type="email" class="validate text-field input_time_tacker" name="email" placeholder="Email Address" ng-model="client.email" required>
                   <!-- <label for="email">Email Address</label>-->

                    <div  class="error-message-div" ng-messages-multiple ng-messages="clientAddForm.email.$error"  ng-show="clientAddForm.email.$touched  || clientAddForm.$submitted || errors.email">
                       <!-- <div class="" ng-message="required">
                            Email Address is Required
                        </div>-->
                        <div class="" ng-message="email">
                            Invalid Email Address
                        </div>

                    </div>

                </div>


                <div class="input-field col s12 input_field_timetracker">
                    <i class="material-icons prefix">call</i>
                    <input type="text" class="active validate input_time_tacker" name="contactNumber"  placeholder="Contact Number" ng-model="client.number">
                    <!--<label for="project_price">Contact Number</label>-->
                </div>


                <div class="input-field col s12 input_field_timetracker">
                     <i class="material-icons prefix">place</i>
                    <textarea id="textarea1" class="materialize-textarea input_time_tacker" name="address" placeholder="Address" ng-model="client.address_line1"></textarea>
                    <!--<label for="textarea1">Address</label>-->
                </div>

                <div class="input-field col s12 input_field_timetracker">
                    <i class="material-icons prefix">web</i>
                    <input type="text" class="active validate input_time_tacker" placeholder="Business Id" name="businessId" ng-model="client.business_id">
                    <!-- <label for="project_price">Business Id</label>-->
                </div>




                <div class="input-field col s12 input_field_timetracker">
                    <i class="material-icons prefix">library_books</i>
                    <input type="text" class="active validate input_time_tacker" placeholder="Business Details" name="businessDetails" ng-model="client.business_detail">
                 <!--   <label for="project_price">Business Details</label>-->
                </div>




                <div class="input-field  col s12 m12 l12">
                    <button type="submit" class="btn waves-effect waves-light btn-modified" ng-click="add_client(client,clientAddForm.$valid)" ng-disabled="clientAddForm.$invalid || isUnchanged(client)" name="action" >Save
                        <!--  <i class="material-icons right">send</i>-->
                    </button>
                </div>





            </form>
        </div>

   </div>

    </div>

</div>