
    <div ng-include="'views/includes/header.html'"></div>

    <!--<style ng-bind-html="mystyles"></style>-->




    <div class="row col s12 l12">

        <div ng-include="'views/includes/sideNav.html'"></div>
        <div class="row col l6 s12">
            <h2 class="project_list_head">Project List</h2>
            <ul class="collapsible" data-collapsible="accordion">
                <li ng-repeat="project in projects | limitTo: projectDisplayLimit">


                    <div class="main_header_div">
                        <div class="collapse_header col s11" ng-click="editProject(project)">
                        <div class="col s1">
                            <div class="icon_list" ng-style="{'background': '{{project.project_color}}'}">
                                <img  ng-src="assets/images/icons/{{project.project_icon}}"/>
                            </div>
                        </div>

                        <div class="project_name col s8">
                            {{project.project_name}}

                        </div>


                        <div class="col s3">
                            <div class="col s12">
                              <div class="s11">
                                  <span class="task_count" ng-style="{'color':project.project_color}">{{project.tasks.length}} tasks</span>
                              </div>
                                <span class="s1">
                                    <div class="down_arrow_manage" ng-style="{'border-left': '5px solid'+ project.project_color}">
                                    </div>
                                </span>
                            </div>

                        </div>


                        </div>
                        <div class="uncollapse_header col s1">
                            <div class="col s12 menu_btn">
                                <a  ng-click="click_me($event)" href="">
                                    <img src="assets/images/mdpi/t_0035_menu.png"/>
                                </a>

                            </div>
                        </div>
                    </div>

<!--

                    <div class="open_collapse">
                        <ul>
                            <li ng-repeat="task in project.tasks">

                                <div ng-click="edit(task.task_id)" class="task_div">
                                    <div class="task_icon_div">
                                        <img src="assets/images/mdpi/t_0035_menu.png"/>
                                    </div>
                                    <div class="task_name_div">
                                        {{task.task_name}}
                                    </div>
                                </div>

                            </li>

                            <div class="input-field  add_task_div" style="" >
                                <input id="" type="text" class="active validate col s10 input_time_tacker" ng-class="applyClass(project.project_color)" placeholder="Add Task" ng-model="project_task" ng-style="{ 'border-bottom':'1px solid'+ project.project_color }" ng-class="customTaskStyle" name="projectTask" ng-model="project.newTask">
                                <span class="suffix icon_task_span">
                                    <button class="btn btn-floating waves-effect waves-light" ng-class="" ng-style="{ 'background-color': project.project_color }" ng-click="addSingleTask(project_task,data.project.id)" >&lt;!&ndash;<img src="assets/images/mdpi/add.png">&ndash;&gt;<i class="material-icons">add</i></button>
                                </span>
                            </div>

                        </ul>

                    </div>
-->



                 <!--   <div class="collapsible-header" ng-click="editThis(project)">
                        <div class="col s1">
                            <div class="project_icon_list" ng-style="{'background': '{{project.project_color}}'}">
                                <img  ng-src="assets/images/icons/{{project.project_icon}}"/>
                            </div>
                        </div>
                        <div class="project_name col s8">
                            {{project.project_name}}

                        </div>


                        <div class="col s2">
                            <div class="col s12">
                                <div class="down_arrow_manage" ng-style="{'border-top': '5px solid'+ project.project_color}">
                                </div>
                            </div>
                            <span class="col s12 task_count" ng-style="{'color':project.project_color}">{{project.tasks.length}} tasks</span>
                        </div>

                        <div class="col s1 menu_btn">
                            <a  ng-click="click_me($event)" href="">
                                <img src="assets/images/mdpi/t_0035_menu.png"/>
                            </a>

                        </div>

                    </div>-->

                  <!--  <div class="collapsible-body">
                        <ul>
                            <li ng-repeat="task in project.tasks">

                                <div ng-click="edit(task.task_id)" class="task_div">
                                    <div class="task_icon_div">
                                        <img src="assets/images/mdpi/t_0035_menu.png"/>
                                    </div>
                                    <div class="task_name_div">
                                        {{task.task_name}}
                                    </div>
                                </div>

                            </li>

                            <div class="input-field  add_task_div" style="" >
                                <input id="" type="text" class="active validate col s10 input_time_tacker" ng-class="applyClass(project.project_color)" placeholder="Add Task" ng-model="project_task" ng-style="{ 'border-bottom':'1px solid'+ project.project_color }" ng-class="customTaskStyle" name="projectTask" ng-model="project.newTask">
                                &lt;!&ndash; <label for="project_task">Add Project Task</label>&ndash;&gt;
                                <span class="suffix icon_task_span">
                                    <button class="btn btn-floating waves-effect waves-light" ng-class="" ng-style="{ 'background-color': project.project_color }" ng-click="addSingleTask(project_task,project.id)" >&lt;!&ndash;<img src="assets/images/mdpi/add.png">&ndash;&gt;<i class="material-icons">add</i></button>
                                </span>
                            </div>

                        </ul>



                    </div>-->
                </li>

            </ul>
        </div>




        <div class=" col l5 s12 " ng-if="data.project">
          <!--  <h2 class="project_list_head">{{data.project.project_name}}</h2>-->

            <h2 class="project_list_head">Manage Project</h2>

            <div class="task_list manage_pro_div">

                <div class="rol col l12">
                     <div class="col s6"><h2 class="pro_name">Project : {{data.project.project_name}}</h2></div>

                    <button type="submit" class="btn waves-effect waves-light btn-green margin_top17" ng-click="rename_project()" ng-disabled="projectAddForm.$invalid || isUnchanged(project)" name="action" >Rename
                        <!--  <i class="material-icons right">send</i>-->
                    </button>

                    <button type="submit" class="btn waves-effect waves-light btn-red margin_top17" ng-click="delete_project()" ng-disabled="projectAddForm.$invalid || isUnchanged(project)" name="action" >Delete
                        <!--  <i class="material-icons right">send</i>-->
                    </button>

               </div>

                    <div ng-repeat="task in data.project.tasks" class="col s12">

                        <div ng-click="edit(task.task_id)" class="task_div">
                          <!--  <div class="task_icon_div">
                                <img src="assets/images/mdpi/t_0035_menu.png"/>
                            </div>
-->
                            <div class="col s1">
                                <a class='dropdown-button' data-activates='dropdown1'><div class="menu_vert" ng-style="{'color': data.project.project_color,'border':'1px solid '+ data.project.project_color}"> <i class="material-icons">more_vert</i></div></a>
                                <!-- Dropdown Structure -->
                                <ul id='dropdown1' class='dropdown-content'>
                                    <li><a href="#!">one</a></li>
                                    <li><a href="#!">two</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#!">three</a></li>
                                </ul>
                            </div>

                            <div class="task_name row s10">
                                <div class="col s8">{{task.task_name}}</div>
                                <div class="col s3"><a href='' class="btn_green" ng-click="rename(task)"><i class="material-icons">mode_edit</i></a><a href=""  ng-click="delete(task)" class="btn_red"><i class="material-icons">clear</i></a></div>
                            </div>
                        </div>

                    </div>

                <form name="taskAddForm" class="col s12">
                    <div  class="input-field  add_task_div" style="">
                        <input id="project_task" type="text" class="active validate col s10 input_time_tacker" ng-class="applyClass(data.project.project_color)" placeholder="Add Task" ng-style="{ 'border-bottom':'1px solid'+ project.project_color }" ng-class="customTaskStyle" name="projectTask" ng-model="pro.project_task">
                        <!-- <label for="project_task">Add Project Task</label>-->
                                <span class="suffix icon_task_span">
                                    <button class="btn btn-floating waves-effect waves-light" ng-class="" ng-style="{ 'background-color': data.project.project_color}" ng-click="addSingleTask(pro.project_task,data.project.id)" ><i class="material-icons">add</i></button>
                                </span>
                    </div>
                </form>

                </div>

            </div>
        </div>

    <!-- Dropdown Trigger -->
   <!-- <a class='dropdown-button btn' href='#' data-activates='dropdown1'>Drop Me!</a>-->



    <!--  modal to rename project -->
    <!-- Modal Structure -->
    <div id="rename_modal" class="modal">
        <div class="modal-content">
            <h6>Rename Project</h6>
            <div class="input-field">
                <input id="email_address" type="text" class="validate" name="rename" ng-class="data.project ? applyClass(data.project.project_color) : ''"  ng-model="rename.project_name" required>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn-flat modal-close" ng-click="update_name()">Save</button>

            <button type="button" class="btn-flat modal-close" >Cancel</button>
        </div>
    </div>



<!-- Modal Structure -->
<div id="rename_task" class="modal">
    <div class="modal-content">
        <h6>Rename Task</h6>
        <div class="input-field">
            <input id="renm" type="text" class="validate" name="rename_task" ng-class="data.project ? applyClass(data.project.project_color) : ''"  ng-model="rename_task.task_name" required>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn-flat modal-close" ng-click="update_task(rename_task)">Save</button>

        <button type="button" class="btn-flat modal-close" >Cancel</button>
    </div>
</div>

    <script>
        $('#dropdown1').dropdown({
                    inDuration: 300,
                    outDuration: 225,
                    constrain_width: false, // Does not change width of dropdown to that of the activator
                    hover: true, // Activate on hover
                    gutter: 0, // Spacing from edge
                    belowOrigin: false, // Displays dropdown below the button
                    alignment: 'left' // Displays dropdown with edge aligned to the left of button
                }
        );
    </script>