.input-field .prefix {
    top: 10px;
}

.logo-img {
 /*  width:75px;*/
    width: 67px;
    height:auto;
}

.header-row {
    padding:8px;
    background-color: #36474f;
    color:#fff;
}

.site-title {
    margin-top: 2px;
  /*  padding-left: 15px !important;*/
}


.site-title h4 {
  /*  font-size: 30px;*/
    font-size: 26px;
}
.text-field {
    height:2.5rem !important;
    margin-bottom:10px !important;
}
.error-message-div {
    color : red;
    margin-left: 3rem;
    font-size: 13.5px;
}

.error-message-div-margin0 {
    color:red;
}

.select-color {
    background-color:#FF3333;
    width:36px;
    height:36px;
    background-image: url("../../assets/images/icons/new_0001_businessman.png");
    background-repeat:no-repeat;
    background-position: center;
}

.icon-div {
    padding-top:20px !important;
    padding-bottom: 20px !important;
}

.single-icon-div {
    margin-top: 10px;
    margin-bottom: 10px;
}

.select_icon:active {
    color:red !important;
}

.add_project_icon_color {
    margin-bottom: 15px !important;
}

.icon_task_span {
    padding-left: 15px;
}


.btn-modified {
    background-color: #ff3d00;
    padding: 0 1rem !important;
}

.project_icon_list {
    width:30px;
    height:30px;
    display: inline;
    float:left;
}

.project_name {
    display: inline;
    padding-left: 10px;
}

.collapsible-header .project_icon_list {
    margin-top: 15px;
}

.project_list_head,
.form_head {
    font-size: 22px;
}


.input_time_tacker:focus:not([readonly]){
    border-bottom: 1px solid #ff3d00 !important;
    box-shadow: 0 1px 0 0 #ff3d00 !important;
}

.input_field_timetracker .prefix.active {
    color: #ff3d00 !important;
}

.input_time_tacker:focus:not([readonly]) + label {
    color: #ff3d00 !important;
}


.select-wrapper input.select-dropdown:focus {
    color:#ff3d00 !important;
}

.input_time_tacker {
    margin-bottom: 10px !important;
}

.input_field_timetracker label {
   color: #a3a3a3 !important;
}

.input_time_tacker.valid {
    border-bottom: 1px solid #a6a6a6 !important;
    box-shadow: 0 0.1px 0 0 #a6a6a6 !important;
}



/* login header */
#login_header {
    padding-bottom: 0;
    margin-bottom: 10px;
}

.login_btn {
    background-color: #fff !important;
    margin-top: 17px !important;
    color: #000 !important;
    padding: 1px 11px;
}



.input_login:focus:not([readonly]) {
    border-bottom: 1px solid #fff !important;
    box-shadow: 0 1px 0 0 #fff !important;
}

.input_field_login .prefix.active {
    color: #fff !important;
}


.input_login {
    border-bottom: 1px solid #fff !important;
  /*  box-shadow: 0 1px 0 0 #fff !important;*/
}

.input_field_login label{
  color: #fff !important;
}

.forgot_link {
    margin-left: -15px !important;
    color: #fff;
    font-size: 14.2px;
}

#register_div {
    margin-top: 10px;
    padding:20px 10px;
    padding-bottom: 35px;
    border-radius: 6px;
    -webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
    display:inline-block !important;
    background-color: #fff;
}


.register_head {
    margin-left: 12px;
}


.msg {
    display: inline-block !important;
}

#login_page {
    background-image: url("../../assets/images/home2.jpg");
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

#modal_forgot_password {
    width: 45%;
}

.taskBackgroundColor {

}

.c1 {
    border-bottom:1px solid #5700F1 !important;
  /*  box-shadow: 0 1px 0 0 #5700F1 !important;*/
}

/*.c1.active,*/
.c1:focus:not([readonly]){
    border-bottom:1px solid #5700F1 !important;
    box-shadow: 0 1px 0 0 #5700F1 !important;

}

.c2 {
    border-bottom:1px solid #FF085C !important;
}
/*.c2.active,*/
.c2:focus:not([readonly])
{
    border-bottom:1px solid #FF085C !important;
    box-shadow: 0 1px 0 0 #FF085C !important;
}


.c3 {
    border-bottom:1px solid #1597FF !important;
}

/*.c3.active,*/
.c3:focus:not([readonly]){
    border-bottom:1px solid #1597FF !important;
    box-shadow: 0 1px 0 0 #1597FF !important;
}

.c4 {
    border-bottom:1px solid #00AB09 !important;
}

/*.c4.active,*/
.c4:focus:not([readonly]){
    border-bottom:1px solid #00AB09 !important;
    box-shadow: 0 1px 0 0 #00AB09 !important;
}

.c5 {
    border-bottom:1px solid #FB8B00 !important;
}


/*.c5.active,*/
.c5:focus:not([readonly])
{
    border-bottom:1px solid #FB8B00 !important;
    box-shadow: 0 1px 0 0 #FB8B00 !important;
}

.c6 {
    border-bottom:1px solid #4E342E !important;
}

/*.c6.active,*/
.c6:focus:not([readonly])
{
    border-bottom:1px solid #4E342E !important;
    box-shadow: 0 1px 0 0 #4E342E !important;
}

.c7 {
    border-bottom:1px solid #FF3333 !important;
}

/*.c7.active,*/
.c7:focus:not([readonly]){
    border-bottom:1px solid #FF3333 !important;
    box-shadow: 0 1px 0 0 #FF3333 !important;
}

.c8 {
    border-bottom:1px solid #0025F4 !important;
}

/*.c8.active,*/
.c8:focus:not([readonly]){
    border-bottom:1px solid #0025F4 !important;
    box-shadow: 0 1px 0 0 #0025F4 !important;
}

.task_background_1 {
    background-color:#5700F1 !important;
}

.task_background_2 {
    background-color:#FF085C !important;
}

.task_background_3 {
    background-color:#1597FF !important;
}

.task_background_4 {
    background-color:#00AB09 !important;
}

.task_background_5 {
    background-color:#FB8B00 !important;
}

.task_background_6 {
    background-color:#4E342E !important;
}

.task_background_7 {
    background-color:#FF3333 !important;
}

.task_background_8 {
    background-color:#0025F4 !important;
}

.add_task {
    margin-bottom: 10px !important;
    margin-top: 0px;
}

.down_arrow {
    display: inline-block;
    float: right;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    /*border-top: 6px solid #f00;*/
    margin-top: 20px;
}

.task_div {
    display: block;
    margin-bottom: 10px;
   /* clear:both;*/
   /* float:left;*/
}

.task_icon_div {
    display:inline;
    position: relative;
    top: 11px
   /* float:left;*/
}

.task_name_div {
    display:inline;
    /*float:left;*/
}

.add_task_div {
    margin-left:10px;
    margin-bottom:25px;
}

.customSideNav {
    top: 83px !important;
}



.send_login{
    margin-left:8px !important;
    font-size: 14px !important;
}


.register_msg {
    margin-top: 10px;
    color: #4F8A10;
    background-color: #ffffff;
    padding: 25px;
    border-radius: 3px;
    text-align: center;
}


.initial_char_div {
    text-align: center;
    border-radius:50%;
    width:40px;
    height:40px;
    line-height: 40px;
    margin:0 auto;
    color:#fff;
}

.client_list {
    margin-bottom: 0 !important;
}

.main_col {
    padding: 0 !important;
}

.inner_col {
    padding: 0 !important;
}

.custom_client_item {
    padding: 8px 16px !important;
    line-height: 1.3rem !important;
}

.custom_select {
    border : 0 !important;
/*    border-bottom: 1px solid #f2f2f2 !important;*/
    border-bottom: 1px solid #9e9e9e !important;
}

.custom_select_client {
    margin-left: 3rem;
    width: calc(100% - 3rem);
    border : 0 !important;
    border-bottom: 1px solid #9e9e9e !important;
}

.custom_select select option {
    padding: 15px 10px !important;
}

.custom_select:focus, .custom_select_client:focus {
    outline: none !important;
}

.menu_btn {
    margin-top : 7px;
}

.down_arrow_manage {
    float:left;
    text-align: center;
    margin-top: 17px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    width:0;
    height:0;
    margin-left: 8px !important;
}

.collapsible-header {
    clear:both !important;
}



.main_header_div {
    cursor: pointer;
    min-height: 3rem;
    line-height: 3rem;
    padding: 0 1rem;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.icon_list {
    width:30px;
    height: 30px;
    position: relative;
    top:7px;
}

.open_collapse {
    display: none;
}
.task_count {
    float:left;
}

.menu_vert {
    border-radius : 50%;
    background-color: #fff;
    width: 22px;
    height:22px;
    line-height: 22px;
    font-size: 18px !important;
}

.menu_vert i {
    font-size: 20px !important;
}

.manage_pro_div {
  /*  box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
    display: inline-block !important;
    background-color: #fff;
    border-radius : 6px !important;*/
}

.pro_name {
    font-size: 20px;
    margin-left: 10px !important;
}

.margin_top17 {
    margin-top: 17px;
}

.btn-red {
    background-color: red !important;
}

.btn-green {
    margin-right: 15px !important;
}

.btn-red, .btn-green {
    padding-left:10px;
    padding-right : 10px;
}

.task_name {
  /*  border: 1px solid #ccc;*/
    padding-bottom: 8px !important;
}

.btn_green {
    color: #00AB09 !important;
    margin-right:10px !important;
}

.btn_red {
    color:#ff0000 !important;
}

.load_more {
    background-color: #ff3d00 ;
}

.load_more_div {
text-align:right;

}


.load_more_div .btn{
    text-transform: none;
}

.client_div {
   /* box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);*/
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
/*    margin-top:30px;*/
    border-radius: 2px !important;
    background-color: #fff;
}

.client_div h2 {
    margin-top:10px !important;
}

.input_time_tacker {
    margin-top : 0.3rem !important;
}

.date_p {
    margin-top: 6px !important;
    margin-bottom: 0 !important;
    color :#428bca !important;
}

.td_green {
    color: green !important;
    text-align: center;
}

th.td_red, th.td_green {
    font-weight: 500 !important;
    font-size: 14px !important;
}

.td_red {
    color : red !important;
    text-align: center;
}

.custom_table th {
  text-align: center;
}

.custom_table td,
.custom_table th {
   /* border-left: 1px solid #d0d0d0;*/
    border-right: 1px solid #d0d0d0;
}


.custom_table td {
    padding: 5px 5px !important;
}



/*.custom_table td:first-child {
    border-left: none;
}*/

.custom_table td:last-child,
.custom_table th:last-child {
    border-right: none;
}

.table_div {
    margin-top: 30px !important;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
}

.custom_table tr:last-child {
    border-bottom: none;
}

.table_div.col {
    padding : 0 0.15rem !important;
}

#main_div {
    background: #e8ebf1 !important;
    min-height: 100%;
}


.proj_add_div {
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    margin-bottom: 10px;
    width: 100%;
    background-color: #FFF;
}

.pro_div, .pro_list_div {
    padding:10px !important;
    padding-top: 0 !important;
}

.pro_head_div {
    padding: 1px 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom: 0px;
}

.proj_add_div {
    margin-top:-10px !important;
}

.marginTop0 {
    margin-top:0 !important;
    box-shadow:none !important;
}

.marginBottom0 {
    margin-bottom: 0px !important;
}

.client_list_div {
    margin-top: 0 !important;
}

.client_add_div {
  /*  padding-right: 5px !important;*/
}

.paddingBottom {
    padding-bottom:20px !important;
    padding-right: 10px !important;
}

.collapse_custom {
    background-color: #fff;
}

.manage_div {
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    margin-bottom: 10px;
    width: 100%;
    background-color: #FFF;
}

.custom_collection .collection-item{
    line-height: 2.5rem;
}

.transform_none {
    text-transform: none !important;
}

.manual_entry_div {
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    margin-bottom: 10px;
    width: 100%;
    background-color: #FFF;

}


.manual_entry_main_div {
    padding-left: 10px !important;
}

.review_entry_div {
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    margin-bottom: 10px;
    width: 100%;
    background-color: #FFF;
}

.paddingLeft10 {
    padding-left: 10px !important;
}

.custom_client_item:hover, .collapse_project:hover {
    background-color: #ecf3fb;
    cursor: pointer;
}

.menu_icon {
    color : #fff !important;
    font-size: 42px !important;
}

.menu_icon_div {
    margin-top: 10px !important;
}

.textRight {
    text-align: right;
}

.dropdown_header  {
    color:#fff !important;
}

.drop_down_arrow {
    margin-top: 10px !important;
}

#dropdown_head {
    position : relative;
    top: 5% !important;
    border-radius: 4px;
    width: 95px !important;
}

#dropdown_head li {
    line-height: 1.2;
    min-height: 40px;
}

#dropdown_head li > a {
    padding: 9px 14px !important;
    padding-right: 0 !important;
}

.down_arrow_header {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top:5px solid #fff;
    margin-top: 8px;
    margin-left:6px !important;
}


.time_icon {
    font-size: 18px;
    color: #50504c;
    border: 1px solid #50504c;
    border-radius: 50%;
    padding: 2px;
}

.timer_div {
    display: inline;
    float: right;
    padding-right: 13px;
    padding-top: 13px;
}

.coll_proj_head {
    min-height:4rem;
    line-height: 4rem;
}

.span_time  {
    height:1.4rem;
    line-height: 1.6rem;
    font-size: 13.5px;
}

.span_time_div {
    padding-top: 6px !important;
}

.active_li {
    background-color: #f6f7fa;
}