



body,html{
    display: block;
    font-size: 14px;

}
body .row{
    margin-bottom: 0;
}
.input-field .prefix {
    top: 10px;
}

#main_div .pad0{
    padding:0;
}

#main_div .padr0{
    padding-right: 0;
}

#main_div  .txtc{
    text-align: center;
}


.logo-img {
    width: 55px;
    margin:4px;
    height:auto;
}

.header-row {
    background-color: #36474f;
    color:#fff;
}

.site-title {
    margin-top: 2px;
}


.site-title h4 {
    font-size: 24px;
}
.text-field {
    height:2.5rem !important;
    margin-bottom:10px !important;
}
.error-message-div {
    color : red;
    margin-left: 3rem;
    font-size: 12px;
    position:absolute;
    bottom:-7px
}

#login_page .input-field .prefix {
    font-size: 1.6rem;

}

.error-message-div-margin0 {
    color:red;
}
#login_page textarea.materialize-textarea {

    padding: 0;

}

.select-color {
    background-color:#FF3333;
    width:36px;
    height:36px;
    background-image: url("../../assets/images/icons/new_0001_businessman.png");
    background-repeat:no-repeat;
    background-position: center;
}

.icon-div {
    padding-top:20px !important;
    padding-bottom: 20px !important;
}

.single-icon-div {
    margin-top: 10px;
    margin-bottom: 10px;
}

.select_icon:active {
    color:red !important;
}

.add_project_icon_color {
    margin-bottom: 15px !important;
}

.icon_task_span {
    padding-left: 15px;
}


.btn-modified {
    background-color: #ff3d00;
    padding: 0 1rem !important;
}

.project_icon_list {
    width:30px;
    height:30px;
    display: inline;
    float:left;
}

#main_div .middle_div .project_name {
    display: inline;
    padding-left: 10px;
    border-left:1px solid #eee;

}
#main_div .middle_div .project_name h5{
    text-transform: capitalize !important;
}

.collapsible-header .project_icon_list {
    margin-top: 15px;
}

.project_list_head,
.form_head {
    font-size: 20px;
    padding: 12px 0;
}

i{
    vertical-align: middle;
    top: -2px;
    position: relative;
}


.input_time_tacker:focus:not([readonly]){
    border-bottom: 1px solid #ff3d00 !important;
    box-shadow: 0 1px 0 0 #ff3d00 !important;
}

.input_field_timetracker .prefix.active {
    color: #ff3d00 !important;
}

.input_time_tacker:focus:not([readonly]) + label {
    color: #ff3d00 !important;
}


.select-wrapper input.select-dropdown:focus {
    color:#ff3d00 !important;
}

.input_time_tacker {
    margin-bottom: 10px !important;
}

.input_field_timetracker label {
    color: #a3a3a3 !important;
}

.input_time_tacker.valid {
    border-bottom: 1px solid #a6a6a6 !important;
    box-shadow: 0 0.1px 0 0 #a6a6a6 !important;
}



/* login header */
#login_page form{
    display: inline-block;
    width: 100%;
    margin: 0;
}
#login_header {
    padding-bottom: 0;
    margin-bottom: 10px;
}

.login_btn {
    background-color: #fff !important;
    margin-top: 17px !important;
    color: #000 !important;
    padding: 1px 11px;
}

#login_page .margin0{
    margin-left: 0;
}



.input_login:focus:not([readonly]) {
    border-bottom: 1px solid #fff !important;
    box-shadow: 0 1px 0 0 #fff !important;
}

.input_field_login .prefix.active {
    color: #fff !important;
}


.input_login {
    border-bottom: 1px solid #fff !important;
    /*  box-shadow: 0 1px 0 0 #fff !important;*/
}

.input_field_login label{
    color: #fff !important;
}

.forgot_link {
    position: relative;
    left: -10px;
    color: #fff;
    font-size: 14px;
}

#register_div {
    margin-top: 10px;
    padding:  10px;
    border-radius: 2px;
    -webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
    display:inline-block !important;
    background-color: #fff;
}
#register_div h5{
    padding : 5px 5px 10px  20px;
    border-bottom:1px solid #e9e9e9;
}

.msg {
    display: inline-block !important;
}

#login_page {
    background-image: url("../../assets/images/home2.jpg");
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    /*height: 100%;*/
}

#modal_forgot_password {
    width: 45%;
}

#register_div .social-login{
    display: inline-block;
    width: 100%;
}
#register_div .social-login .fblogin,#register_div .social-login .googlelogin {
    text-align: center;
    padding:0 0 5px 0
}
#register_div .social-login .fblogin .btn{
    background: #3b5998;
    color:	#fff;
    width: 200px;
}
#register_div  .or{
    text-align: center;
    margin-top: 5px;
}
#register_div .or  span{

    font-weight: bold;
    border-radius: 50%;
    padding: 5px 7px;
    vertical-align: middle;
    z-index: 99;
    position: relative;
    top: -11px;
    background: #fff;
    border:1px solid #e9e9e9;

}
.backline {
    border-bottom:1px solid #e9e9e9;

}

#register_div .social-login .googlelogin .btn{
    background: #d34836;
    color: #fff;
    width: 200px;
}

#register_div .social-login .fblogin .facebook-icon{
    background-image: url("../images/facebook.jpg ");
    height: 20px;
    background-repeat:no-repeat ;
    background-size:contain ;
    background-position: center;
    display: inline-block;
    width: 20px;
    margin-right: 10px;
    border-radius: 2px;
    vertical-align: middle;
    position: relative;
    top:-1px;
}

#register_div .social-login .googlelogin .google-icon{
    background-image: url("../images/google_logo.png")  ;
    background-repeat:no-repeat ;
    border-radius:2px;
    padding-right: 20px;
    background-size:contain ;
    background-position: center;
    height: 20px;
    display: inline-block;
    width: 20px;
    margin-right: 10px;
    position: relative;
    top:-1px;
    vertical-align: middle;
}


.c1 {
    border-bottom:1px solid #5700F1 !important;
    /*  box-shadow: 0 1px 0 0 #5700F1 !important;*/
}

/*.c1.active,*/
.c1:focus:not([readonly]){
    border-bottom:1px solid #5700F1 !important;
    box-shadow: 0 1px 0 0 #5700F1 !important;

}

.c2 {
    border-bottom:1px solid #FF085C !important;
}
/*.c2.active,*/
.c2:focus:not([readonly])
{
    border-bottom:1px solid #FF085C !important;
    box-shadow: 0 1px 0 0 #FF085C !important;
}


.c3 {
    border-bottom:1px solid #1597FF !important;
}

/*.c3.active,*/
.c3:focus:not([readonly]){
    border-bottom:1px solid #1597FF !important;
    box-shadow: 0 1px 0 0 #1597FF !important;
}

.c4 {
    border-bottom:1px solid #00AB09 !important;
}

/*.c4.active,*/
.c4:focus:not([readonly]){
    border-bottom:1px solid #00AB09 !important;
    box-shadow: 0 1px 0 0 #00AB09 !important;
}

.c5 {
    border-bottom:1px solid #FB8B00 !important;
}


/*.c5.active,*/
.c5:focus:not([readonly])
{
    border-bottom:1px solid #FB8B00 !important;
    box-shadow: 0 1px 0 0 #FB8B00 !important;
}

.c6 {
    border-bottom:1px solid #4E342E !important;
}

/*.c6.active,*/
.c6:focus:not([readonly])
{
    border-bottom:1px solid #4E342E !important;
    box-shadow: 0 1px 0 0 #4E342E !important;
}

.c7 {
    border-bottom:1px solid #FF3333 !important;
}

/*.c7.active,*/
.c7:focus:not([readonly]){
    border-bottom:1px solid #FF3333 !important;
    box-shadow: 0 1px 0 0 #FF3333 !important;
}

.c8 {
    border-bottom:1px solid #0025F4 !important;
}

/*.c8.active,*/
.c8:focus:not([readonly]){
    border-bottom:1px solid #0025F4 !important;
    box-shadow: 0 1px 0 0 #0025F4 !important;
}

.task_background_1 {
    background-color:#5700F1 !important;
}

.task_background_2 {
    background-color:#FF085C !important;
}

.task_background_3 {
    background-color:#1597FF !important;
}

.task_background_4 {
    background-color:#00AB09 !important;
}

.task_background_5 {
    background-color:#FB8B00 !important;
}

.task_background_6 {
    background-color:#4E342E !important;
}

.task_background_7 {
    background-color:#FF3333 !important;
}

.task_background_8 {
    background-color:#0025F4 !important;
}

.add_task {
    margin-bottom: 10px !important;
    margin-top: 0px;
}

.down_arrow {
    display: inline-block;
    float: right;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    /*border-top: 6px solid #f00;*/
    margin-top: 20px;
}

.task_div {
    display: block;
    margin-bottom: 10px;
    /* clear:both;*/
    /* float:left;*/
}

.task_icon_div {
    display:inline;
    position: relative;
    top: 11px
    /* float:left;*/
}

.task_name_div {
    display:inline;
    /*float:left;*/
}

.add_task_div {
    margin-left:10px;
    margin-bottom:25px;
}

.customSideNav {
    top: 63px !important;
}
#main_div ul.side-nav li a {
    color: rgba(0, 0, 0, 0.87);
    display: block;
    font-size: 14px;
    font-weight: 500;
    height: 42px;
    line-height: 42px;
    padding: 0 28px;
}
#main_div ul.side-nav li{
    border-bottom:1px solid #e9e9e9
}



.send_login{
    margin-left:8px !important;
    font-size: 14px !important;
}


.register_msg {
    margin-top: 10px;
    color: #4F8A10;
    background-color: #ffffff;
    padding: 25px;
    border-radius: 3px;
    text-align: center;
}


.initial_char_div {
    text-align: center;
    border-radius:50%;
    width:40px;
    height:40px;
    line-height: 40px;
    margin:0 auto;
    color:#fff;
}

.client_list {
    margin-bottom: 0 !important;
}

.main_col {
    padding: 0 !important;
}

.inner_col {
    padding: 0 !important;
}

.custom_client_item {
    padding: 8px 16px !important;
    line-height: 1.3rem !important;
}

.custom_select {
    border : 0 !important;
    /*    border-bottom: 1px solid #f2f2f2 !important;*/
    border-bottom: 1px solid #9e9e9e !important;
}

.custom_select_client {
    margin-left: 3rem;
    width: calc(100% - 3rem);
    border : 0 !important;
    border-bottom: 1px solid #9e9e9e !important;
}

.custom_select select option {
    padding: 15px 10px !important;
}

.custom_select:focus, .custom_select_client:focus {
    outline: none !important;
}

.menu_btn {
    margin-top : 7px;
}

.down_arrow_manage {
    float:left;
    text-align: center;
    margin-top: 17px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    width:0;
    height:0;
    margin-left: 8px !important;
}

.collapsible-header {
    clear:both !important;
}

.middle_div ul.project-list{
    padding: 20px 10px;
    background: #fff;
    margin: 0;
}

.middle_div ul.project-list  li{
    border: 1px solid #e8ebf1;
    /*border-right: 1px solid #e8ebf1;*/
    margin-bottom: 5px;
    display: block;
    /*border-left: 1px solid #e8ebf1;*/
}
.main_header_div {
    cursor: pointer;
    min-height: 3rem;
    display: inline-block;
    line-height: 3rem;
    width: 100%;
    /* padding: 0 1rem; */
    background-color: #fff;
    /*border-bottom: 1px solid #ddd;*/
}

.icon_list {
    /* width: 30px; */
    display: inline-block;
    /* height: 30px; */
    position: relative;
    top:6px;
    border-radius: 50%;

}

#main_div .icon_list img{
    border-radius: 50%;
    padding: 2px;
    width: 28px;
}

.open_collapse {
    display: none;
}
.task_count {
    float:left;
}

.menu_vert {
    border-radius : 50%;
    background-color: #fff;
    width: 22px;
    height:22px;
    line-height: 22px;
    font-size: 18px !important;
}

.menu_vert i {
    font-size: 20px !important;
}

.manage_pro_div {
    /*  box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
      display: inline-block !important;
      background-color: #fff;
      border-radius : 6px !important;*/
}

.pro_name {
    font-size: 20px;
    /*margin-left: 10px !important;*/
}

.margin_top17 {
    margin-top: 17px;
}

.btn-red {
    background-color: red !important;
}

.btn-green {
    margin-right: 15px !important;
}

.btn-red, .btn-green {
    padding-left:10px;
    padding-right : 10px;
}

.task_name {
    /*  border: 1px solid #ccc;*/
    padding-bottom: 8px !important;
}

.btn_green {
    color: #00AB09 !important;
    margin-right:10px !important;
}

.btn_red {
    color:#ff0000 !important;
}

.load_more {
    background-color: #ff3d00 ;
}

.load_more_div {
    text-align:right;

}


.load_more_div .btn{
    text-transform: none;
}

.client_div {
    /* box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);*/
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
    /*    margin-top:30px;*/
    border-radius: 2px !important;
    background-color: #fff;
}

.client_div h2 {
    margin-top:10px !important;
}

.input_time_tacker {
    margin-top : 0.3rem !important;
}

.date_p {
    margin-top: 6px !important;
    margin-bottom: 0 !important;
    color :#428bca !important;
}

.td_green {
    color: green !important;
    text-align: center;
}

th.td_red, th.td_green {
    font-weight: 500 !important;
    font-size: 14px !important;
}

.td_red {
    color : red !important;
    text-align: center;
}

.custom_table th {
    text-align: center;
}

.custom_table td,
.custom_table th {
    /* border-left: 1px solid #d0d0d0;*/
    border-right: 1px solid #d0d0d0;
}


.custom_table td {
    padding: 5px 5px !important;
}



/*.custom_table td:first-child {
    border-left: none;
}*/

.custom_table td:last-child,
.custom_table th:last-child {
    border-right: none;
}

.table_div {
    margin-top: 30px !important;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
}

.custom_table tr:last-child {
    border-bottom: none;
}

.table_div.col {
    padding : 0 0.15rem !important;
}

#main_div {
    background: #e8ebf1 !important;
    min-height: 100%;
}


.proj_add_div {
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    margin-bottom: 10px;
    width: 100%;
    background-color: #FFF;
}

.pro_div, .pro_list_div {
    padding:10px !important;
    padding-top: 0 !important;
}

.pro_head_div {
    padding: 0 20px;
    background-color: #fff;
    border-bottom: 1px solid #e8ebf1;

}
.pro_head_div h2{
    margin: 0;
}

.proj_add_div {
    margin-top:-10px !important;
}

.marginTop0 {
    margin-top:0 !important;
    box-shadow:none !important;
}

.marginBottom0 {
    margin-bottom: 0px !important;
}

.client_list_div {
    margin-top: 0 !important;
}

.client_add_div {
    /*  padding-right: 5px !important;*/
}

.paddingBottom {
    padding-bottom:20px !important;
    padding-right: 10px !important;
}

.collapse_custom {
    background-color: #fff;
}



.custom_collection .collection-item{
    line-height: 2.5rem;
}

.transform_none {
    text-transform: none !important;
}

.manual_entry_div {
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    margin-bottom: 10px;
    width: 100%;
    background-color: #FFF;

}


.manual_entry_main_div {
    padding-left: 10px !important;
}

.review_entry_div {
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    margin-bottom: 10px;
    width: 100%;
    background-color: #FFF;
}

.paddingLeft10 {
    padding-left: 10px !important;
}

.custom_client_item:hover, .collapse_project:hover {
    background-color: #ecf3fb;
    cursor: pointer;
}

.menu_icon {
    color : #fff !important;
    font-size: 42px !important;
}

.menu_icon_div {
    margin-top: 10px !important;
}

.textRight {
    text-align: right;
}

.dropdown_header  {
    color:#fff !important;
}

.drop_down_arrow {
    margin-top: 10px !important;
}

#dropdown_head {
    position : relative;
    top: 5% !important;
    border-radius: 4px;
    width: 95px !important;
}

#dropdown_head li {
    line-height: 1.2;
    min-height: 40px;
}

#dropdown_head li > a {
    padding: 9px 14px !important;
    padding-right: 0 !important;
}

.down_arrow_header {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top:5px solid #fff;
    margin-top: 8px;
    margin-left:6px !important;
}


.time_icon {
    font-size: 18px;
    color: #50504c;
    border: 1px solid #50504c;
    border-radius: 50%;
    padding: 2px;
}

.timer_div {
    display: inline;
    float: right;
    padding-right: 13px;
    padding-top: 13px;
}

.coll_proj_head {
    min-height:4rem;
    line-height: 4rem;
}

.span_time  {
    height:1.4rem;
    line-height: 1.6rem;
    font-size: 13px;
}

.span_time_div {
    padding-top: 6px !important;
}

.active_li {
    background-color: #f6f7fa;
}


/* global style */
.error-message-div {
}

.middle_div{
    padding-top: 10px;
}

/* manage project page style */
.middle_div .manage_div .project_list_head{
    margin: 0;
}
.middle_div  .project_list_head i{
    font-size: 28px;
    top: -2px;
    position: relative;
}
.middle_div .manage_div {
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    margin-bottom: 10px;
    width: 100%;
    padding:0 ;
    display: inline-block;
    background-color: #FFF;
}
.middle_div .manage_div h2.project_list_head{
    border-bottom:1px solid #eee;
    padding-left:15px;
}
.middle_div .manage_div  .manage_proj{
    display: inline-block;
    width: 100%;
    padding:0 10px;

}

.middle_div .member_div{
    background: #fff;
    padding: 0;
    display: inline-block;
    width: 100%;

}
.middle_div .member_div h5 {
    font-size: 16px;
    font-weight: 500;
    padding: 11px 10px;
    margin: 0;
    border-bottom:1px solid #eee;

}
.middle_div .member_div h5 i{
    vertical-align: middle;
}
.middle_div .member_div .add-member{
    padding:10px;
}
.middle_div .member_div .add-member-btn a{
    height: 28px;
    line-height: 28px;
    font-size: 12px;
    padding: 0 0.5rem;
     letter-spacing: 0;
    text-transform: capitalize;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
}

.middle_div .member_div .add-member-btn a i{
    vertical-align: middle;
}

.middle_div .manage_div .manage_proj h2.pro_name{
    margin: 15px 5px;
    font-weight: 500;
    font-size: 18px;
    text-transform: capitalize;
}

.middle_div .manage_div .manage_proj .custom_collection .collection-item{
    padding: 10px 0;
}

#add-member-modal {
  max-height: 100%;
}

#add-member-modal .ui-select-multiple.ui-select-bootstrap input.ui-select-search {
    background-color: rgba(116, 118, 121, 0)!important;
    border-bottom: 1px solid #ddd;
    padding:15px  0;
    width: 100% !important;
    margin: 0;
}

#add-member-modal .ui-select-multiple.ui-select-bootstrap .dropdown-menu {
    /*position: absolute;*/
    /*top: 100%;*/
    /*left: 0;*/
    /*z-index: 1000;*/
    /*!*display: none;*!*/
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);}

#add-member-modal .ui-select-multiple.ui-select-bootstrap .ui-select-match .btn{
    border: none;
    border-radius: 2px;
    display: inline-block;
     height: 26px;
     line-height: 26px;
    outline: 0;
    font-size: 12px;
     padding:0 0.5rem;
     text-transform: lowercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
}
#add-member-modal .ui-select-multiple.ui-select-bootstrap .ui-select-match .ui-select-match-item .close.ui-select-match-close{
    float: right;
    top: 5px;
    position: relative;
}

.error{
    color:red;
}

.tagmessage{
    float: right;
}
/*.select2 > .select2-choice.ui-select-match {*/
    /*!* Because of the inclusion of Bootstrap *!*/
    /*height: 29px;*/
/*}*/

/*.selectize-control > .selectize-dropdown {*/
    /*top: 36px;*/
/*}*/
/*!* Some additional styling to demonstrate that append-to-body helps achieve the proper z-index layering. *!*/
/*.select-box {*/
    /*background: #fff;*/
    /*position: relative;*/
    /*z-index: 1;*/
/*}*/
/*.alert-info.positioned {*/
    /*margin-top: 1em;*/
    /*position: relative;*/
    /*z-index: 10000; !* The select2 dropdown has a z-index of 9999 *!*/
/*}*/